.deviceInfo {
    margin-bottom: 20px;
    line-height: 87px;
}

.panel {
    padding-left: 0;
    padding-right: 0;
}

.problems .panel {
    border-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.problems .panel .list-group-item {
    border: none
}
.problems .panel .panel-heading {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.problem-item {
    cursor: pointer;
}

.hidden {
    visibility:hidden;
}

#order-btn {
    margin-top: 10px;
}