.deviceInfo {
    margin-bottom: 20px;
    line-height: 87px;
}

.panel {
    padding-left: 0;
    padding-right: 0;
}

.problems .panel {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.problems .panel .list-group-item {
    border: none
}
.problems .panel .panel-heading {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.problem-item {
    cursor: pointer;
}

.hidden {
    display:none;
}

#order-btn {
    margin-top: 10px;
}
#form-message {
    display: none;
}

body {
    background: url('../images/white_carbon.png') repeat;

}

/** overwrite */
.panel {
    background: none;
}
.orders-table-container {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}
.order-short {
    cursor: pointer;
}
table td {
    vertical-align: middle;
}

.fa-phone,
.fa-check,
.fa-thumbs-o-up {
    -webkit-animation: myfirst 1s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 1s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(10deg); /* IE 9 */
        -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
    }
    to {
        -ms-transform: rotate(-10deg); /* IE 9 */
        -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
        transform: rotate(-10deg);
    }
}

/* Standard syntax */
@keyframes myfirst {
    from {
        -ms-transform: rotate(10deg); /* IE 9 */
        -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
    }
    to {
        -ms-transform: rotate(-10deg); /* IE 9 */
        -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
        transform: rotate(-10deg);
    }
}

.body {
    margin-bottom: 50px;
}
#problems-dropdown-container {
    margin-bottom: 200px;
}

.device-types-list > li > i,
.manufacturers-list > li > i,
.devices-list > li > i,
.problem-categories-list > li > i,
.breakdowns-list > li > i,
.problems-list > li > i {
    font-size: 8pt;
    padding: 0 5px;
    cursor: pointer;
}

.devices-lists > div > ul {
    height: 130px;
    min-height: 100px;
    overflow-y: scroll;
}

.devices-lists input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.devices-lists .btn-group.col-md-12 {
    margin-bottom: 10px;
}
.device-li,
.manufacturer-li,
.device-type-li,
.problem-category-li,
.breakdown-li,
.problem-li {
    cursor: pointer;
}

.devices-lists .page-header {
    margin-top: 0;
}

#breakdown-input {
    margin-top: 0;
}